body {
    background-image: url(background.webp);
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: grey;
    color: white;
}



header,
section {
    padding: 2%;
    padding-bottom: 0.5%;
    /* border:1px black solid  */
}

h1,
h2 {
    margin: 0;
    color: pink;
    letter-spacing: 6px;
    text-shadow: 3px 3px 1px grey;
}

li input {
    border: none;
}



input {
    height: 2em;
    border-radius: 0.5em;
    color: rgb(246, 129, 148);
    margin-top: 1rem;

}

button {
    color: white;
    background-color: pink;
    border: none;
    border-radius: 0.6em;
    margin-left: 1em;
    height: 2em;
    width: 3em;
}

button:hover {
    background-color: rgb(246, 129, 148);
}

label,
footer {
    font-size: 110%;
    font-weight: bold;
}

footer {
    padding-left: 2%;
}
